*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}
*{
    .link{
        text-decoration: none;
        color: inherit;
    }
}
hr {
    margin: 5px 0px;
    height: 0px;
    border: 0.5px solid rgb(237, 235, 235);
}